// Define variables for your color scheme

// For example:
$red: #FD1015;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// doughmate
$cream: #FFECD1;
$blue: #8FA7EE;
$rust: #E17251;
$black: #272727;
$anipistipis: #6f8daa;
