<div class="navbar-container">
  <%= link_to home_path do %>
    <p class="navbar-links">Home</p>
  <% end %>

  <%= link_to about_path do %>
   <p class="navbar-links">About</p>
  <% end %>
  <span class="<%= navbar_underline %> absolute bg-rust" id="navbar-underline"></span>
</div>
