<div class="main-container">
  <h1 id="about-title">About us</h1>
  <p class="about-p">Welcome to <span>Dough mate</span>—your personal guide to
  mastering the art of sourdough, one step at a time.</p>
  <p class="about-p">We know that making sourdough can feel like a complex and intimidating
  process. Between feeding your starter, keeping track of rise times, and
  understanding fermentation, it's easy to get overwhelmed. That's why we
  created <span>Dough mate</span>—a simple, intuitive app designed to take the
  guesswork out of sourdough baking.</p>
  <p class="about-p">Whether you're a first-time baker or looking to perfect your process,
  Dough mate  provides step-by-step guidance to help you create a healthy
  starter and bake delicious sourdough bread.</p>

  <div class="elliptical" id="eliptic-about"></div>
  <%= link_to home_path, class: "link-p" do %>
    <p>get started</p>
  <% end %>
</div>
