<div class="main-container">
  <h1 class="h1-titles">Dough</h1>
  <div class="flex-row-container">
    <div class="elliptical"></div>
    <h1 class="h1-titles">mate</h1>
  </div>

  <p id="home-intro">Step-by-step guidance for<br>perfect sourdough</p>

  <%= link_to "Sourdough", "#" %>
  <%= link_to "Starter", "#" %>

</div>
22880
