.navbar-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  text-decoration: none;
}

.navbar-links {
  color: $blue;

  &:hover {
    font-style: italic;
  }
}

#navbar-underline {
  height: 4px;
  top: 48px;
  width: calc(3.6rem + 1.8vw);
}

.navbar-left {
  left: 20px;
}

.navbar-right {
  right: 20px;
}

// @media only screen and (max-width: 900px) {
//   .navbar-left .navbar-right{
//     width: 63px;
//   }
// }

// @media only screen and (max-width: 768px) {
//   .navbar-left .navbar-right{
//     width: 63px;
//   }
// }
