// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/about";

// App-wide rules
body {
  background-color: $cream;
}

.main-container {
  margin: 0 auto;
  width: 84vw;
  height: 100%;
}

.absolute {
  position: absolute;
}

.bg-white {
  background-color: #fff;
}

.bg-rust {
  background-color: $rust;
}

.bg-blue {
  background-color: $blue;
}

.elliptical {
  border: 2.6px solid $rust;
  border-radius: 50%;
  width: 140px;
  height: 60px;
  transform: rotate(-12deg);
}

a {
  text-decoration: none;
  color: $black;
}
